{% load url from future %}
{% load i18n %}
{% load static%}
   

{% block content %}


<form class="signup" id="signup_form" method="post" action="{% url 'facebook_signup' %}">
	
  
  {% csrf_token%}
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">{{ form.username.label }}</div> 
            <div class="input-element" id="username-input">{{form.username.value}}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{ form.email.label }}</div> 
            <div class="input-element" id="email-input">{{form.email.value}}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Password</div> 
            <div class="input-element" id="password1-input">Not Required</div>
        </div>
        <div class="register-wrap">
            <div class="label">Confirm Password</div> 
            <div class="input-element" id="password2-input">Not Required</div>
        </div>
  </div>
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">Name</div> 
            <div class="input-element">{{ form.firstname }}{{ form.lastname }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.gender.label}}</div> 
            <div class="input-element">{{ form.gender }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.dateofbirth.label}}</div> 
            <div class="input-element">{{ form.dateofbirth }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.contact.label}}</div> 
            <div class="input-element">{{ form.contact }}</div>
        </div>
  </div>
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">{{form.country.label}}</div> 
            <div class="input-element">{{ form.country }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.state.label}}</div> 
            <div class="input-element">{{ form.state }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.department.label}}</div> 
            <div class="input-element">{{ form.department }}</div>
        </div>
        <div class="register-wrap">
            <div class="label"><label for="id_firstname">{{form.year.label}}</label></div> 
            <div class="input-element">{{ form.year }}</div>
        </div>
  </div>
  
   <div class="register-section">
        <div class="register-wrap">
            <div class="label">{{form.institution.label}}</div> 
            <div class="input-element">{{ form.institution }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">{{form.address.label}}</div> 
            <div class="input-element">{{ form.address }}</div>
        </div>
        <div class="register-wrap">
        {% if form.errors %}
  		<div class="error">All Fields Mandatory. Password Minimum 6 Characters</div>
  		{% endif %}
  		</div>
  		<div class="register-wrap">
  		<div class="input-element"><button type="button" onclick="FBsignup()">Signup</button></div>
  		</div>
  </div>
  
     <div class="register-section">
  <div class="register-wrap" id="social-reg">
{{form.non_field_errors}}
</div>
</div>
  
  <a onclick="cancelAuthorization()"><img src="https://lh3.googleusercontent.com/-t1VxWEIwgkI/UiyEKavxhgI/AAAAAAAABwI/kIq3Ef3yec4/s24-no/exit.png"></a>
</form>




{% endblock %}


