{% load url from future %}
{% load i18n %}
{% load static%}
   

{% block content %}

  <div class="register-section">
        <div class="register-wrap">
            <div class="label">Username</div> 
            <div class="input-element">{{user.username}}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Email</div> 
            <div class="input-element">{{user.email}}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Password</div> 
            <div class="input-element">*****</div>
        </div>
  </div>
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">Name</div> 
            <div class="input-element">{{ user.first_name }}{{ user.last_name }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Gender</div> 
            <div class="input-element">{{ profile.Gender }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Date Of Birth</div> 
            <div class="input-element">{{ profile.DateOfBirth }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Contact</div> 
            <div class="input-element">{{ profile.Contact }}</div>
        </div>
  </div>
  <div class="register-section">
        <div class="register-wrap">
            <div class="label">Country</div> 
            <div class="input-element">{{ profile.Country }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">State</div> 
            <div class="input-element">{{ profile.State }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Department</div> 
            <div class="input-element">{{ profile.Department }}</div>
        </div>
        <div class="register-wrap">
            <div class="label"><label for="id_firstname">Year</label></div> 
            <div class="input-element">{{ profile.Year }}</div>
        </div>
  </div>
  
   <div class="register-section">
        <div class="register-wrap">
            <div class="label">Institution</div> 
            <div class="input-element">{{ profile.Institution }}</div>
        </div>
        <div class="register-wrap">
            <div class="label">Address</div> 
            <div class="input-element">{{ profile.Address }}</div>
        </div>
        <div class="register-wrap">
  		</div>
  </div>
  




{% endblock %}


