<html>
	<head>
		<title>Stocks History</title>
		<style type="text/css">
		.table {
		    width: 100%;
		    min-width: 750px;
		}
		
		
		.row1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 20px;
			max-height: 22px;
			margin-left: .5%;
		}
		
		.row2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 18%;
		    min-height: 20px;
			max-height: 22px;
		}
		
		.row3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 14%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 14%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6.3%;
			min-height: 20px;
			max-height: 22px;
		}
		
		
		.row10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.hrow1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 37.5px;
			margin-left: .5%;
			
		}
		
		.hrow2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 18%;
		    min-height: 37.5px;
			
		}
		
		.hrow3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 14%;
			min-height: 37.5px;
			
		}
		
		.hrow4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9.7%;
			min-height: 37.5px;
			
		}
		
		.hrow5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 37.5px;
			
		}
		
		.hrow6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 14%;
			min-height: 37.5px;
			
		}
		
		.hrow7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
			min-height: 37.5px;
			
		}
		
		.hrow8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
			min-height: 37.5px;
			
		}
		
		.hrow9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6.3%;
			min-height: 37.5px;
			
		}
		
		
		.hrow10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 20px;
			max-height: 22px;
		}
		
		</style>
		<script type="text/javascript">
			function next(){
				$('#transactions').load('/woodstock/shistory/?t={{ctx.next}}');
			}
			function prev(){
				$('#transactions').load('/woodstock/shistory/?t={{ctx.prev}}');
			}
		</script>

	</head>
	
	<body>
		<div id="myspan" class='card'>
		<div class="tab-head">Stocks History</div> 
		<br>
		<br>
		<table width="100%" id="brownBorder" cellpadding="6" cellspacing="0" class='terminal-table bordered'>
		<tr>
		<td id="brownBorder"><b>OrderNo</b></td>
		<td id="brownBorder"><b>Company</b></td>
		<td id="brownBorder"><b>Action</b></td>
		<td id="brownBorder"><b>Quantity</b></td>
		<td id="brownBorder"><b>Opening Price</b></td>
		<td id="brownBorder"><b>Closing Price</b></td>
		<td id="brownBorder"><b>Profit</b></td></tr>
		
		{% for que in ctx.query %}
			<tr><td id='brownBorder'>{{ que.orderno }}</td>
			<td id='brownBorder'>{{ que.stockname }}</td>
			<td id='brownBorder'>{{ que.bors }}</td>
			<td id='brownBorder'>{{ que.quantity }}</td>
			<td id='brownBorder'>{{ que.tranprice }}</td>
			<td id='brownBorder'>{% if que.closecp == 0 %}N/A{% else %}{{ que.closecp }}{% endif %}</td>
			<td id='brownBorder'>{{ que.profit }}</td></tr>
		{% endfor %}
		</table>
		
		<br><br>
		{% if ctx.count == ctx.no %}
			<div class='next' align='right'><input type='button' class='buttonStyle' value='Next' onclick='next()'/></div>
		{% endif %}
		{% if ctx.prev >= 0 %}
		<div class='prev'><input type='button' class='buttonStyle' value='Previous' onclick='prev()'/></div>
		{% endif %}
	</div>
	</body>
	
	
</html>