<script type="text/javascript">
	function validatesorder(){
		var string=document.getElementById('quantity').value;
		var ok=1;
    if (string.length == 0)
		{
			ok=0;
		}
    for (var i=0;i < string.length;i++)
        if ((string.substring(i,i+1) < '0') || (string.substring(i,i+1) > '9'))
			{
				ok=0;
			}
	
	if(ok==1)
		{
			/*window.location.href='/postexe/';*/
			/*get();*/
			$.post('/woodstock/postexe/',$('form#strade').serialize(), function(data){ $('#sresults').html(data); });
			return false;
		}
	else
		{	
			alert('Please enter a valid quantity');
			return false;
		}
	}
	
</script>


{% load static %}
<!--<script type="text/javascript" src="{% static "js/forex.js"%}"></script>-->
<div class="tab-head">Stock Trading</div>
<form id="strade" method="post" action="/woodstock/postexe/" onsubmit = "return validatesorder();">
{% csrf_token %}
<table id="transaction" cellpadding="3" cellspacing="0" class="trade-table">
	<tr>
	<td id="transaction-head">Company</td>
	<td id="transaction-head">Quantity</td>
	<td id="transaction-head">Long/Short</td>
	<td id="transaction-head" valign="top">Trigger Price</td>
	</tr>
	
	<tr>
	<td  id="transaction-row">
	<select name='stockname' id='stockname' class='inputs' placeholder='Select a Stock'>
	{% for stock in stocks %}
		<option value='{{ stock.stock }}'>{{ stock.stock }} &nbsp;&nbsp;Rs.{{ stock.price }}</option>
	{% endfor %}
	</select>
	</td>
	<td id="transaction-row">
		<select name="quantity" id="quantity">
			{% for option in lots %}
			<option value="{{option}}">{{option}}</option>
			{% endfor %}
		</select>
	</td>	
	
	
	<td id="transaction-row">
		<select name="bors" id="bors" class="inputs">
			<option selected value="Buy"> Buy</option>
			<option value="Short Sell"> Short Sell</option>
		</select>
	</td>
	
	<td  id="transaction-row">
	     <input class="inputs" type="text" name="triggerprice" id="triggerprice" value="" placeholder="Trigger Price"/>
	</td>
	
	<td  id="transaction-row">
	<input type="submit" class="placeorder" name="submit" value="Place Order"/>
	</td>
	
	</tr>
	
	</table>

	<div class="pending">Pending Order at Price : <input type="text" name="pendingprice" id="pendingprice" value="" class="inputs" />
</form>
	
	<span class="very-small"> ( If left blank will be considered as an immediate order )</span>
	<div style="padding-top:5px;padding-bottom: 5px" class="very-small">* Trigger Price - If left blank will be considered insecure against infinite loss</div>

</div>

<div class="results" id="sresults">
{% if msg %}
	{{ msg }}
{% endif %}
</div>

