<html>
	<head>
		<style type="text/css">
		.table {
		    width: 100%;
		    min-width: 750px;
		}
		
		
		.row1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 20px;
			max-height: 22px;
			margin-left: .5%;
		}
		
		.row2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
		    min-height: 20px;
			max-height: 22px;
		}
		
		.row3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 14%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 11.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 11%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 19%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.row9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6.3%;
			min-height: 20px;
			max-height: 22px;
		}
		
		
		.row10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 20px;
			max-height: 22px;
		}
		
		.hrow1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 37.5px;
			margin-left: .5%;
			
		}
		
		.hrow2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
		    min-height: 37.5px;
			
		}
		
		.hrow3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 14%;
			min-height: 37.5px;
			
		}
		
		.hrow4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 11.7%;
			min-height: 37.5px;
			
		}
		
		.hrow5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 37.5px;
			
		}
		
		.hrow6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 11%;
			min-height: 37.5px;
			
		}
		
		.hrow7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 19%;
			min-height: 37.5px;
			
		}
		
		.hrow8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 16%;
			min-height: 37.5px;
			
		}
		
		.hrow9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 6.3%;
			min-height: 37.5px;
			
		}
		
		
		.hrow10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 20px;
			max-height: 22px;
		}

	</style>
	<script type="text/javascript">
			function next(){
				$('#transactions').load('/woodstock/fhistory/?t={{ctx.next}}');
			}
			function prev(){
				$('#transactions').load('/woodstock/fhistory/?t={{ctx.prev}}');
			}
		</script>

	</head>
	
	<body>
		<div id="myspan" class='card'>
		<div class='tab-head'>Future History</div>
		<table width="100%" id="brownBorder" cellpadding="5" cellspacing="0" class='terminal-table bordered'>
      	<tr>
        <td id="brownBorder"><b>OrderNo</b></td>
        <td id="brownBorder"><b>Stockname</b></td>
        <td id="brownBorder"><b>Margin</b></td>
        <td id="brownBorder"><b>Long or Short</b></td>
        <td id="brownBorder"><b>Quantity</b></td>
        <td id="brownBorder"><b>Expiry</b></td>
        <td id="brownBorder"><b>Open Contract Price</b></td>
		<td id="brownBorder"><b>Close Contract Price</b></td>
		<td id="brownBorder"><b>Profit</b></td>
      	</tr>
      	
      	{% for data in datas %}
	      	<tr><td id='brownBorder'>{{ data.query.orderid }}</td>
			<td id='brownBorder'>{{ data.name }}</td>
			<td id='brownBorder'>{{ data.margin }}%</td>
			<td id='brownBorder'>{{ data.query.lors }}</td>
			<td id='brownBorder'>{{ data.query.quantity }}</td>
			<td id='brownBorder'>{{ data.query.expiry }}</td>
			<td id='brownBorder'>Rs {{ data.query.opencp }}</td>
			<td id='brownBorder'>{{ data.query.profitcp }}</td>
			<td id='brownBorder'>{{ data.query.profit }}</td></tr>
		{% endfor %}
		
		{% if ctx.prev >= 0 %}
			<div class='prev'><input type='button' class='buttonStyle' name='{{ ctx.prev }}' value='Previous' onclick="prev()" /></div>
		{% endif %}
		{% if ctx.count == ctx.no %}
			<div class='next' align='right'><input type='button' class='buttonStyle' name='{{ ctx.next }}' value='Next' onclick='next()';/></div>
		{% endif %}
		</div>
		</table>
	</body>
	
</html>