<html>
	<head>
		<title>Futures Trade</title>
		<script type="text/javascript">
		function validateftrade(){
			var string= document.getElementById("fquantity").value;
			var ok=1;
		    if (string.length == 0)
				{
					ok=0;
				}
		    for (var i=0;i < string.length;i++)
		        if ((string.substring(i,i+1) < '0') || (string.substring(i,i+1) > '9'))
					{
						ok=0;
					}
			
			if(ok!=1)
				{
					alert('Please enter a valid quantity');
					return false;
				}
			else{
				$.post('/woodstock/futuresexe/',$('form#ftrade').serialize(), function(data){ $('#fresults').html(data); });
				return false;
			}
		}
		</script>
		<style type="text/css">

			.table {
			    width: 100%;
			    min-width: 750px;
			}
			
			.table2 {
			    width: 100%;
			    min-width: 640px;
			}
			
			.company {
			
				padding: .81%;
				float: left;
				border: thin none #0000FF;
				width: 18%;
				min-height: 28px;
				margin-left: 17%;
			}
			
			.select1 {
				padding: .81%;
				float: left;
				border: thin none #0000FF;
				width: 25%;
				min-height: 28px;
				min-width: 260px;
			}
			
			.company2 {
			
				padding: .81%;
				float: left;
				border: thin none #0000FF;
				width: 18%;
				min-height: 38px;
				margin-left: 17%;
			}
			
			.select2 {
				padding: .81%;
				float: left;
				border: thin none #0000FF;
				width: 25%;
				min-height: 44px;
				min-width: 260px;
			}
			
			.future_submit {
				padding: .61%;
				float: right;
				border: thin none #0000FF;
				width: 17%;
				min-height: 28px;
				margin-right: .75%;
			}

		</style>
	</head>
	
	<body>

		{% load static %}
<!--<script type="text/javascript" src="{% static "js/forex.js"%}"></script>-->
<div class="tab-head">Future Trading</div>
<form id="ftrade" method="post" action="/woodstock/futuresexe/" onsubmit = "return validateftrade();">
{% csrf_token %}
<table id="transaction" cellpadding="3" cellspacing="0" class="trade-table">
	<tr>
	<td id="transaction-head">Company</td>
	<td id="transaction-head">Quantity</td>
	<td id="transaction-head">Long/Short</td>
	<td id='transaction-head'>Expiry</td>
	<td id='transaction-head'>Margin</td>
	<td id="transaction-head" valign="top">Trigger Price</td>
	</tr>
	
	<tr>
	<td  id="transaction-row">
		<select name="stockname" id="fstockname">
					{% for key,value in ctx.opt.items %}
						<option value="{{ key }}">{{ key }} &nbsp;&nbsp;Rs.{{ value }}</option>
					{% endfor %}
		</select>
	</td>
	<td id="transaction-row">
		<select name="quantity" id="fquantity">
			{% for option in lots %}
			<option value="{{option}}">{{option}}</option>
			{% endfor %}
		</select>
	</td>	
	
	
	<td id="transaction-row">
		<select name="bors" id="fbors">
			<option selected value="Long"> Long</option>
			<option value="Short"> Short </option>
		</select>
	</td>
	
	<td id="transaction-row">
	    <select name="expiry" id="fexpiry">						
			<option id ="friday1" value="{{ ctx.friday }}" selected>{{ ctx.friday }}</option>
		</select>
	</td>

	<td id='transaction-row'>
		<select name="margin" id="fmargin">
			<option value="0.25"> 25% </option>
			<option value="0.30"> 30% </option>
			<option selected value="0.40"> 40% </option>
			<option value="0.50"> 50% </option>
		</select>
	</td>

	<td id='transaction-row'>
		<input type="text" name="triggerprice" id="triggerprice" value="" />
	</td>
	
	<td  id="transaction-row">
	<input type="submit" class="placeorder" name="submit" value="Place Order" />
	</td>
	
	</tr>
	
	</table>

	<div class="pending">Pending Order at Price : <input type="text" name="pendingprice" id="pendingprice" value="" class="inputs" />
</form>
	
	<span class="very-small"> ( If left blank will be considered as an immediate order )</span>
	<div style="padding-top:5px;padding-bottom: 5px" class="very-small">* Trigger Price - If left blank will be considered insecure against infinite loss</div>

</div>

<div class="results" id="fresults">
{% if msg %}
	{{ msg }}
{% endif %}
</div>



		<!--
		<div id="myspan"> </div>

		<h1 align="left">Trade Futures</h1>
		<div id='message'>
<b>
{% if msg %}
	{% autoescape on %}
	{{ msg }}
	{% endautoescape %}
{% endif %}
</b>
<br>
</div><br>
		<br/><br/><br/>
		<form id='ftrade' action='/woodstock/futuresexe/' method='POST' onsubmit='return validatetrade();' >
		<table width="50%" id="brownBorder" style="margin-left:15%;" cellpadding="5" cellspacing="0">
		{% csrf_token %}		
		<tr>
		<td id="brownBorder"><b>Company</b></td>
		<td id="brownBorder">
			<select name="stockname" id="fstockname">
				{% for key,value in ctx.opt.items %}
					<option value="{{ key }}">{{ key }} &nbsp;&nbsp;Rs.{{ value }}</option>
				{% endfor %}
			</select>
		</td></tr>
		<tr>
		<td id="brownBorder" valign="top"><b>Quantity</b></td>
		<td id="brownBorder">
		<input type="text" name="quantity" id="fquantity"></td>
		</tr>
		<tr>
			<td id="brownBorder" valign="top"><b>Long/Short</b></td>
			<td id="brownBorder">
				<select name="bors" id="fbors">
					<option selected value="Long"> Long</option>
					<option value="Short"> Short </option>
				</select>
			</td>
		</tr>
		<tr>
			<td  id="brownBorder" valign="top"><b>Expiry</b></td>
			<td id="brownBorder">
				<select name="expiry" id="fexpiry">						
				<option id ="friday1" value="{{ ctx.friday }}" selected>{{ ctx.friday }}</option>
				</select>
			</td></tr>
			<tr><td id="brownBorder" valign="top"><b>Margin</b></td>
			<td id="brownBorder">
			    <select name="margin" id="fmargin">
				<option value="0.25"> 25% </option>
				<option value="0.30"> 30% </option>
				<option selected value="0.40"> 40% </option>
				<option value="0.50"> 50% </option>
			</select></td></tr>
			<tr>
			<td id="brownBorder" valign="top"><b>Trigger Price</b><br/>
			<font size="-3">(If left blank will be considered insecure against unlimited losses.)</font></td>
			<td id="brownBorder">
			<input type="text" name="triggerprice" id="triggerprice" value="" />
			</td></tr>
		</table>
		<div class="future_submit" style="margin-top:-170px;"><input type="submit" class="buttonStyle" name="submit" value="Place Order" /></td></div>
		</form>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<!--
		
		<h1 align="left">Futures Stats</h1>
<div class="table2" align="center">

<div class="stats"><b>Select a company to view its available Futures:</b>
<p>&nbsp;</p>
		<select name="companynameforfutures" id="companynameforfutures">
			{% for stock in stocks %}
				<option value="{{ stock.name }}"> {{ stock.stock }} &nbsp;&nbsp;&nbsp;Rs.{{ stock.price }} </option>
			{% endfor %}
		</select>
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	 
			<input type="button" class="buttonStyle" name="futuresbutton" id="futuresbutton" value="Get Futures" onclick= "javascript:getFutures(document.getElementsByName('companynameforfutures')[0].value);" />
	</div>
	&nbsp;
	  &nbsp;
	<div id = "futureStats"> </div>
</div>

<h1 align="left">Company Stats</h1>
<div class="table2" align="center">
<div class="stats"><b>Select a company to analyse</b>
<p>&nbsp;</p>
<form action='/getstats/' method='POST'>
	{% csrf_token %}
	<select name="companynameforstats" id="companynameforstats">
		{% for opt in ctx.opt2 %}
			<option value="{{ opt }}">{{ opt }}</option>
		{% endfor %}
	</select>
	
	 &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	 
			<input type="button" class="buttonStyle" name="statsbutton" id="statsbutton" value="Get Info" onclick= "javascript:getStats(document.getElementsByName('companynameforstats')[0].value);" />
</form>
</div>
	&nbsp;
	  &nbsp;
	<div id = "companyStats"> </div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<div align='center'><h3>For new rules, refer to the Help Section</h3></div>
<p>&nbsp;</p>-->

</body>
	
</html>