<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="title" content="Woodstock" />
<meta name="description" content="The largest techno-management fest Kshitij 2012, IIT Kharagpur brings you WOODSTOCK. Woodstock is a real stock market game played with virtual money.The players face real time share price fluctuations and trade accordingly.The game ensures first hand experience of the real market without the associated risk of losing money.This event allows you to understand the vagaries of the stock exchange and gain experience before you take the markets head-on." />
<meta name="Keywords" content="kshitij,iit, kgp, kharagpur, online, events, woodstock, forex, bazaar , stock market, currency, commodity, exchange" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" />
		<title>Woodstock | Ktj Bazaar</title>
		<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
		<link rel="stylesheet" href="{% static 'css/forex.css' %}" />
		<script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
	</head>
	<body>
		<div class="header">
			<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
			<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
			<a href="/woodstock"><div class="heading heading-active">Woodstock</div></a>
			<a href="/forex"><div class="heading">Forex</div></a>
			<div class="info">
			
			</div>			
			<!--<div id="stats" class="stats card"></div>-->
		</div>
		
		<div class="wrapper">
	
		 <div class="card" style="text-align:center;padding:50px;font-size:20px;margin:20px;">
<div id="help_span" style="margin-left:20px;">
<h2><div style="color:#4a5fcb;" id="heading">Stocks</div></h2><!-- Click <a style="font-color:red" href="#learntoplay.php" onClick="makePOSTRequest('learntoplay.php', '','myspan');">here</a> to learn the basics of the stock market. -->
<p font-style="italic"><a style="color: #F88017;" href="/woodstock/learntoplay">Click here</a> to learn the basics of the Stock Market.</p><br />


<h2><div style="color:#4a5fcb;" id="heading">Rules & Regulation</div></h2>
<!--Click <a style="font-color:red;" href="#rules.php" onClick="makePOSTRequest('rules.php', '','myspan');">here</a> For the game rules.-->
<p font-style="italic"><a style="color: #F88017;" href="/woodstock/rules">Click here</a> For the game rules.</p><br />

<h2><div style="color:#4a5fcb;" id="heading">Interface</div></h2>
<!--Click <a style="font-clor:red;" href="#interface.php" onClick="makePOSTRequest('interface.php', '','myspan');">here</a> to understand the interface.-->
<p font-style="italic"><a style="color: #F88017;" href="/woodstock/interface">Click here</a>  to understand the interface.</p><br />
</p>
</div>
</div>

</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45285323-1', 'ktj.in');
  ga('send', 'pageview');

</script>
	
</html>