<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="title" content="Woodstock" />
<meta name="description" content="The largest techno-management fest Kshitij 2012, IIT Kharagpur brings you WOODSTOCK. Woodstock is a real stock market game played with virtual money.The players face real time share price fluctuations and trade accordingly.The game ensures first hand experience of the real market without the associated risk of losing money.This event allows you to understand the vagaries of the stock exchange and gain experience before you take the markets head-on." />
<meta name="Keywords" content="kshitij,iit, kgp, kharagpur, online, events, woodstock, forex, bazaar , stock market, currency, commodity, exchange" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" />
		<title>Woodstock | Ktj Bazaar</title>
		<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
		<link rel="stylesheet" href="{% static 'css/forex.css' %}" />
		<script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
	</head>
	<body>
		<div class="header">
			<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
			<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
			<a href="/forex"><div class="heading heading-active">Forex</div></a>
			<div class="heading">Woodstock</div>
			<div class="info">
			<div id="time" class="time card"></div>
			<div id="indices" class="indices card"></div>
			</div>			
			<!--<div id="stats" class="stats card"></div>-->
		</div>
		
		<div class="wrapper">
	
		 <div class="card" style="text-align:center;padding:50px;font-size:20px;margin:20px;">
		 	First Round Starts on 11/11/2013 - 9:00 AM
		 	Stock Market Timings : Monday - Friday (9:00 - 16:00)
		 	<br/>
		 	You can play <a href="/forex" style="color:#888888">Forex</a> now.
		 	</div>
		</div>
		
		
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45285323-1', 'ktj.in');
  ga('send', 'pageview');

</script>
	
</html>