<!DOCTYPE html>
{% load static %}
<html xmlns:fb="http://ogp.me/ns/fb#" charset="utf-8"  lang='en' itemscope itemtype="http://schema.org/Organization">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta name="title" content="Forex|Woodstock" />
<meta name="description" content="The largest techno-management fest Kshitij 2014, IIT Kharagpur brings you WOODSTOCK. Woodstock is a real stock market game played with virtual money.The players face real time share price fluctuations and trade accordingly.The game ensures first hand experience of the real market without the associated risk of losing money.This event allows you to understand the vagaries of the stock exchange and gain experience before you take the markets head-on." />
<meta name="Keywords" content="kshitij,iit, kgp, kharagpur, online, events, woodstock, forex, bazaar , stock market, currency, commodity, exchange" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" />
		<title>Woodstock | Ktj Bazaar</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
		<link rel="stylesheet" href="{% static 'css/forex.css' %}" />
		
		<script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/jquery.form.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/woodstock.js" %}" ></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}" ></script>
		
	</head>
	<body>
		<div class="header">
            <div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo1.png" %}"></div>
			<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo2.png" %}"></div>
			<!--<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>-->
			<div class="heading heading-active">Woodstock</div>
			<a href="/forex"><div class="heading">Forex</div></a>
			<div class="info">
			<div id="time" class="time card" style="color:#FFF"></div>
			<div id="indices" class="indices card"><a href="/woodstock/help" style="font-size:17px;text-decoration:underline;color:#FFF">Tutorials/Help</a></div>
			</div>			
			<div id="stats" class="stats card"></div>
			<div class="stats card">Round <br/><h2 style="text-align:center">1</h2></div>
		</div>
		
<div class="wrapper">
		<div id="price-info" class="price-info">
			
			<button type="button" style="margin-top:100px;"class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
 			 Woodstock Statistics
			</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" style="width:450px">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel">Woodstock Statistics</h4>
		      </div>
		      <div class="modal-body">
		        <div id="price-inf" class="price-inf card"></div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        
		      </div>
		    </div>
		  </div>
		</div>
		<button type="button" style="margin-top:100px;"class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal2">
 			 Woodstock charts
			</button>
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" style="width:850px">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel" style="color: #000;">Woodstock charts</h4>
		      </div>
		      <div class="modal-body" style="min-height:800px">
		        <div id="charts" class="charts trade card">
		<div class="tab-head">Charts</div>
			<div id="chart-option">
				<select name="type" id="type">
					<option value="stock-chart-select" selected>Stocks</option>
					<option value="future-chart-select">Futures</option>
					<option value='option-chart-select'>Options</option>
				</select>
			</div>
			<div id="chart-option">
				<select name='stocks' id='stock-chart-select' class='chart-select'>
					{% for stock in allStocks %}
						<option value='{{stock}}'>{{stock}}</option>
					{% endfor %}
				</select>
				<select name='futures' id='future-chart-select' class='chart-select'>
					{% for future in futures %}
						<option value="{{ future.name }}"> {{ future.stock }} &nbsp;&nbsp;&nbsp;Rs.{{ future.price }} </option>
					{% endfor %}
				</select>
				<select name='options' id='option-chart-select' class='chart-select'>
					{% for option in options %}
						<option value="{{ option.name }}">{{ option.stockname }}&nbsp;&nbsp;&nbsp;Rs.{{ option.price }}</option>
					{% endfor %}
				</select>
				<button name="chart-submit" onclick="showChart()">Show Chart</button>
			</div>
			
			<div id="chart" class="chart">
					
			</div>
		</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        
		      </div>
		    </div>
		  </div>
		</div>

			<div class="contact"></div>
		</div>

		<div id="transactions" class="transactions">
		<div id="trade-stock" class="trade card"></div>
		<div id="trade-future" class="trade card"></div>
		<div id="trade-options" class="trade card"></div>
		
		</div>
		
		<div class="card menu">
			<div class="menu-inner">
				<div class="menu-head">Menu</div>
				<div class="menu-item menu-active" onclick="showTrade()">Trade</div>
				<div class="menu-item" onclick="showStockTerminal()">Stock Terminal</div>
				<div class="menu-item" onclick="showFutureTerminal()">Futures Terminal</div>
				<div class="menu-item" onclick="showOptionTerminal()">Options Terminal</div>
				<!--<div class="menu-item" onclick="showStockPending()">Stock Pending</div>
				<div class="menu-item" onclick="showFuturePending()">Futures Pending</div>
				<div class="menu-item" onclick="showOptionPending()">Options Pending</div>-->
				<div class="menu-item" onclick="showStockHistory()">Stock History</div>
				<div class="menu-item" onclick="showFutureHistory()">Futures History</div>
				<div class="menu-item" onclick="showOptionHistory()">Options History</div>
				<div class="menu-item" onclick="showTopRankers()">Top Rankers</div>
				<a href="/accounts/logout"><div class="menu-item">Logout</div></a>
			</div>
			<div class="notifications">
				<div class="menu-head">Notifications</div>
				{% for notif in notifications %}
				<div class="notifications-item">{{notif.message}}</div>
				{% endfor %}
			</div>
		</div>
		 
		</div>
		
		<!--<div class="footer">
			<div class="copyright"> &copy Kshitij 2014 </div>
			<ul class="footer-inner">
				<li><a href="forex/help">Help</a> |</li>
				<li><a href="forex/credits">Credits</a> |</li>
				<li><a href="www.ktj.in">Kshitij 2014</a> |</li>
			</ul>
			<ul class="social">
				<li><img class="social" src="{% static 'img/facebook.png' %}"/></li>
				<li><img class="social" src="{% static 'img/twitter.png' %}"/></li>
				<li><img class="social" src="{% static 'img/google.png' %}"/></li>
			</ul>
		</div>-->
		
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45285323-1', 'ktj.in');
  ga('send', 'pageview');

</script>
	
</html>



<!--

<div class="table2" align="center">
	Company Statistics
	<div class="stats">
		<b>Select a company to analyse</b>
	<select name="companynameforstats" id="companynameforstats">
	{% for stat in stats %}
		<option value='{{ stat }}'>{{ stat }}</option>
	{% endfor %}
	</select>
	</div>	
	<div class="companyStats1" id="companyStats1"></div>	
<div align="center"> <input type="button" id="submit" id="statsbutton" value="Get Info" onclick= "javascript:getStats(document.getElementsByName('companynameforstats')[0].value);" /> </div>
	



<h1 align="left">Options Stats</h1>
<div class="table2" align="center">
<div class="stats"><b>Select a company to view its available Options:</b>
	
	<select name="companynameforoptions" id="companynameforoptions">
		{% for data in datas %}
		<option value="{{ data.name }}">{{ data.stockname }}&nbsp;&nbsp;&nbsp;Rs.{{ data.price }}</option>
		{% endfor %}
	</select>
	
	&nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  &nbsp;
	  <input type="button" class="buttonStyle" name="optionsbutton" id="optionsbutton" value="Get Options" onclick= "javascript:getOptions(document.getElementsByName('companynameforoptions')[0].value);" />
	  </div>

	  <div id ="optionStats"> </div>
	</div>
	<p>&nbsp;</p>
	<h1 align="left">Company Stats</h1>
	<div class="table2" align="center">
	<div class="stats"><b>Select a company to analyse</b>
	<p>&nbsp;</p>
			<select name="companynameforstats" id="companynameforstats">
				{% for stock in ctx.stocks %}
				<option value={{ stock }}>{{ stock }}</option>
				{% endfor %}
			</select>
	 
			<input type="button" class="buttonStyle" name="statsbutton" id="statsbutton" value="Get Info" onclick= "javascript:getStats(document.getElementsByName('companynameforstats')[0].value);" />
		</div>
		<div id = "companyStats"> </div>
		</div>-->