<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="title" content="Woodstock" />
<meta name="description" content="The largest techno-management fest Kshitij 2012, IIT Kharagpur brings you WOODSTOCK. Woodstock is a real stock market game played with virtual money.The players face real time share price fluctuations and trade accordingly.The game ensures first hand experience of the real market without the associated risk of losing money.This event allows you to understand the vagaries of the stock exchange and gain experience before you take the markets head-on." />
<meta name="Keywords" content="kshitij,iit, kgp, kharagpur, online, events, woodstock, forex, bazaar , stock market, currency, commodity, exchange" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" />
        <title>Woodstock | Ktj Bazaar</title>
        <link rel="stylesheet" href="{% static "css/main_style.css" %}" />
        <link rel="stylesheet" href="{% static 'css/forex.css' %}" />
        <script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
    </head>
    <body>
        <div class="header">
            <div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
            <div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
            <a href="/woodstock"><div class="heading heading-active">Woodstock</div></a>
            <a href="/forex"><div class="heading">Forex</div></a>
            <div class="info">
            
            </div>          
            <!--<div id="stats" class="stats card"></div>-->
        </div>
        
        <div class="wrapper">
    
         <div class="card" style="text-align:left;padding:50px;font-size:20px;margin:20px;">
<h2>
<div style="color:#4a5fcb;" id="heading">Rules</div></h2>
      <p>&#149;&nbsp; Only top 30 players will be allowed to play from 14th of january.</p>
	  <p>&#149;&nbsp; You cannot have more than 10,000 stocks of a company at a time.</p>
	  <p>&#149;&nbsp;  You need to pay a small amount of margin for short transactions in options.</p>
		<p>&#149;&nbsp; You can close your opened transactions at least after 30 minutes of opening the transaction.</p>
        <p>&#149;&nbsp; Your college/school Identity card is mandatory while claiming prizes. It has to bear the same name and details as filled in the registration form. Those players whose form details do not match those of the college will be disqualified. </p>
        <p>&#149;&nbsp; You should have no source of income except in form of stipend or scholarships. You should not be a Professional. </p>
        <p>&#149;&nbsp; If you don't access your account for over 1 month, it may be deleted/ deactivated. </p>
        <p>&#149;&nbsp; The rules are subject to change at any point in time. </p>
        <p>&#149;&nbsp; The winner will be the person who has the maximum net worth at the end of the period. (The Kshitij Team holds the right to disqualify anyone without giving any reason) </p>
        <p>&#149;&nbsp; The Prizes are taxable. </p>
        <p>&#149;&nbsp; No member or relative of a member of the Kshitij's 'Woodstock family' is allowed to claim any prize. </p>
		<p>&#149;&nbsp; Net Worth may change on the expiry dates or at the end of the round even after the market is closed. </p>
		
        <p>&nbsp;</p>
</div>

</body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45285323-1', 'ktj.in');
  ga('send', 'pageview');

</script>
    
</html>


