
{% for data in datas %}
<font color='#AA9F00'>
	{{ data.que.stock }} : {{ data.que.price }} 
</font>
{% if data.per >= 0 %}
<font color='#18f60d'>
{% else %}
<font color='#f43212'>
{% endif %}
{{ data.per }} % &nbsp;&nbsp;
</font>
{% endfor %}
