<div id="trade-stock" class="trade card"></div>
		<div id="trade-future" class="trade card"></div>
		<div id="trade-options" class="trade card"></div>
		<div id="charts" class="charts trade card">
		<div class="tab-head">Charts</div>
			<div id="chart-option">
				<select name="type" id="type">
					<option value="stock-chart-select" selected>Stocks</option>
					<option value="future-chart-select">Futures</option>
					<option value='option-chart-select'>Options</option>
				</select>
			</div>
			<div id="chart-option">
				<select name='stocks' id='stock-chart-select' class='chart-select'>
					{% for stock in allStocks %}
						<option value='{{stock}}'>{{stock}}</option>
					{% endfor %}
				</select>
				<select name='futures' id='future-chart-select' class='chart-select'>
					{% for future in futures %}
						<option value="{{ future.name }}"> {{ future.stock }} &nbsp;&nbsp;&nbsp;Rs.{{ future.price }} </option>
					{% endfor %}
				</select>
				<select name='options' id='option-chart-select' class='chart-select'>
					{% for option in options %}
						<option value="{{ option.name }}">{{ option.stockname }}&nbsp;&nbsp;&nbsp;Rs.{{ option.price }}</option>
					{% endfor %}
				</select>
				<button name="chart-submit" onclick="showChart()">Show Chart</button>
			</div>
			
			<div id="chart" class="chart">
					
			</div>
		</div>