<html>
	<head>
		
		<style type="text/css">

		.table {
		    width: 100%;
		    min-width: 860px;
		}
		
		
		.row1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8%;
			min-height: 20px;
		}
		
		.row2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
		    min-height: 20px;
		}
		
		.row3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.9%;
			min-height: 20px;
		}
		
		.row4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10.7%;
			min-height: 20px;
		}
		
		.row5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 20px;
		}
		
		.row6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 20px;
		}
		
		.row7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 20px;
		}
		
		.row8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 13%;
			min-height: 20px;
		}
		
		.row9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8%;
			min-height: 20px;
		}
		
		
		.row10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 20px;
		}
		
		.hrow1 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8%;
			min-height: 37.5px;
		}
		
		.hrow2 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 9%;
		    min-height: 37.5px;
		}
		
		.hrow3 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 7.9%;
			min-height: 37.5px;
		}
		
		.hrow4 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10.7%;
			min-height: 37.5px;
		}
		
		.hrow5 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8.7%;
			min-height: 37.5px;
		}
		
		.hrow6 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 37.5px;
		}
		
		.hrow7 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 10%;
			min-height: 37.5px;
		}
		
		.hrow8 {
		
		    padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 13%;
			min-height: 37.5px;
		}
		
		.hrow9 {
		
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 8%;
			min-height: 37.5px;
		}
		
		
		.hrow10 {
			
			padding: .35%;
			float: left;
			border: thin none #0000FF;
			width: 5%;
			min-height: 37.5px;
		}



	</style>
	<script type="text/javascript">
		function optioncall(id){
			$.post('/woodstock/optionclose/', $('form#'+id).serialize() ).done(function(){ $('form#'+id+' .msg').html('Closed'); }).fail(function(){ $('#msg'+id).html('Error'); }).always(function(data){ $('#results').html(data); });
			return false;
		}
		function prev(){
			$('#transactions').load('/woodstock/oterminal/?t={{ctx.prev}}');
		}
		function next(){
			$('#transactions').load('/woodstock/oterminal/?t={{ctx.next}}');
		}
	</script>
	</head>
	<body>
		<div id="myspan" class='card'>
		<div class='tab-head'>Options Standings</div>
		{% if ctx.count == 0 %}
			<h3>You don't have any options transaction open now.</h3>
		{% else %}
  			<div id='results'></div>
		     <table width='100%' id='brownBorder' cellpadding='5' cellspacing='0' class='terminal-table bordered'>
			 <tr>
		        <td id="brownBorder"><b>Order No. &nbsp;</b></td>
		        <td id="brownBorder"><b>Stockname &nbsp;</b></td>
		        <td id="brownBorder"><b>Quantity &nbsp;</b></td>
		        <td id="brownBorder"><b>Long or Short &nbsp;</b></td>
		        <td id="brownBorder"><b>Call or Put &nbsp;</b></td>
		        <td id="brownBorder"><b>Expiry &nbsp;</b></td>
		        <td id="brownBorder"><b>Strike Price &nbsp;</b></td>
		        <td id="brownBorder"><b>Current Price &nbsp;</b></td>
		        <td id="brownBorder"><b>Premium &nbsp;</b></td>
				<td id="brownBorder"><b>Profit &nbsp;</b></td>
		        <td id="brownBorder"><b>Exit &nbsp;</b></td></tr>
		        
		        {% for data in datas %}
		        	<tr><td id='brownBorder'>{{ data.que.transactionid }}</td>
					<td id='brownBorder'>{{ data.que.name }}</td>
					<td id='brownBorder'>{{ data.que.quantity }}</td>
					<td id='brownBorder'>{{ data.que.longorshort }}</td>
					<td id='brownBorder'>{{ data.que.callorput }}</td>
					<td id='brownBorder'>{{ data.que.expiry }}</td>
					<td id='brownBorder' align='right'>{{ data.que.strikeprice }}</td>
					<td id='brownBorder' align='right'>{{ data.price_current }}</td>
					<td id='brownBorder' align='right'>{{ data.que.premium }}</td>
					
					<td id='brownBorder' align='right' style='color: {{ data.color }};'>{{ data.price_current1 }}</td><td id='brownBorder'>
					<form id='oclose{{data.que.transactionid}}' action='/woodstock/optionclose/' method='post' onsubmit='return optioncall(this.id);'>
					{% csrf_token %}
					<input type='hidden' name='transactionid' id='opTransactionId{{ data.que.transactionid }}' value='{{ data.que.transactionid }}'>
					<input type='hidden' name='opName' id='opName{{ data.que.transactionid }}' value='{{ data.que.name }}'>
					<input type='hidden' name='opQuantity' id='opQuantity{{ data.que.transactionid }}' value='{{ data.que.quantity }}'>
					<input type='hidden' name='opExpiry' id='opExpiry{{ data.que.transactionid }}' value='{{ data.que.expiry }}'>
					<input type='hidden' name='opCallORput' id='opCallORput{{ data.que.transactionid }}' value='{{ data.que.callorput }}'>
					<input type='hidden' name='opLongORshort' id='opLongORshort{{ data.que.transactionid }}' value='{{ data.que.longorshort }}'>
					<input type='hidden' name='opStrikePrice' id='opStrikePrice{{ data.que.transactionid }}' value='{{ data.que.strikeprice }}'>
					<input type='hidden' name='opUnderlyingPrice' id='opUnderlyingPrice{{ data.que.transactionid }}' value='{{ data.que.underlyingprice }}'>
					<input type='hidden' name='opPremium' id='opPremium{{ data.que.transactionid }}' value='{{ data.que.premium }}'>
					<div class='msg' id='msg{{data.que.transactionid}}'>
					{% if data.que.longorshort == 'Long' and tradeallow == 1 %}
						<input type='submit' name='submit' value='Exit' class='buttonStyle' >
					{% endif %}
					</div>
					</form>
					</td></tr>
		        {% endfor %}
		{% endif %}
		
		{% if ctx.prev >= 0 %}
			<div class='prev'><input type='button' class='buttonStyle' name='{{ ctx.prev }}' value='Previous' onclick="prev()";/></div>
		{% endif %}
		{% if ctx.count == no %}
			<div class='next' align='right'><input type='button' class='buttonStyle' name='{{ ctx.next }}' value='Next' onclick="next()";/></div>
		{% endif %}
		<br/><br/>
	</div>
		</div>
		
	</body>
	
</html>