		<script type="text/javascript">
			function validateoform() {
			  
				var string=document.getElementById('oquantity').value;
				var ok=1;
			    if (string.length == 0)
					{
						ok=0;
					}
			    for (var i=0;i < string.length;i++){
			        if ((string.substring(i,i+1) < '0') || (string.substring(i,i+1) > '9'))
						{
							ok=0;
						}
				}
				if(ok==1)
					{
						$.post('/woodstock/optionsexe/',$('form#otrade').serialize(), function(data){ $('#oresults').html(data); });
						return false;
					}
				else
					{	
						alert('Please enter a valid quantity');
						return false;
					}
			}
			
		function multipleoption(strikeprice){
			var pricechunk = strikeprice.split('~');
			for (var i=1;i<=10;i++){
				var price = pricechunk[i];
				$('#strike'+i).attr('value',price)
				$('#strike'+i).html(price);
			}
				
		}
		
		</script>
		
{% load static %}
<!--<script type="text/javascript" src="{% static "js/forex.js"%}"></script>-->
<div class="tab-head">Options Trading</div>
<form id="otrade" action="/woodstock/optionsexe/" method="post" onsubmit="return validateoform();">
		{% csrf_token %}

<table id="transaction" cellpadding="3" cellspacing="0" class="trade-table">
	<tr>
	<td id="transaction-head">Company</td>
	<td id="transaction-head">Strike Price</td>
	<td id="transaction-head">Call/Put</td>
	<td id="transaction-head">Long/Short</td>
	<td id="transaction-head">Expiry Date</td>
	<td id="transaction-head">Quantity</td>
	</tr>
	
	<tr>
	<td  id="transaction-row">
	<select name="company" id="companyOptions" onChange="javascript:multipleoption(this.value)">
				{% for data in datas %}
				<option value="{{ data.name }}~{{ data.strike }}"> {{ data.stockname }}&nbsp;&nbsp;&nbsp;Rs.{{ data.price }} </option>		
         		{% endfor %}
         	</select>
	</td>
	<td id="transaction-row">
		<select name="strike" id="optionStrikePrice">
			{% for strike in ctx.strikes %}
				<option id="strike{{ forloop.counter }}" value="{{ strike }}" >{{ strike }}</option>
			{% endfor %}
		</select>
	</td>	
	
	
	<td id="transaction-row">
		<select name="porc" id="cORp">
			<option id ="Call" value="Call"  selected>Call</option>
			<option id ="Put" value="Put">Put</option>
		</select>
	</td>
	
	<td id="transaction-row">
	<select name="lors" id="lORs">
			<option id ="Long" value="Long"  selected>Long</option>
			<option id ="Short" value="Short">Short</option>
		</select>
		</td>
	
	<td  id="transaction-row">
	     <select name="expiry" id="expiryDate">
			<option id ="friday1" value="{{ ctx.friday }}"  selected>{{ ctx.friday }}</option>
		</select>
	</td>
	
	<td  id="transaction-row">
		<select name='quantity' id='oquantity'>
		{% for option in lots %}
			<option value="{{option}}">{{option}}</option>
		{% endfor %}
		</select>
	</td>
	
	<td  id="transaction-row">
<input type="submit" class="placeorder" name="submit" value="Place Order"/>
	</td>



	
	</tr>
	
	</table>

</div>

<div class="results" id="oresults">
{% if msg %}
	{{ msg }}
{% endif %}
</div>

