body{
	width: 100%;
	height: 100%;
	background-image: url('../img/back.png');
	overflow: hidden;
	font-family: Calibri ;
	font-size:0.9em;
}

#header{
	position: absolute;
	top:5%;
	width: 100%;
	text-align: center;
	float:left;
}

#header_img{
	position: absolute;
	top: 6%;
	left: 31.5%;
	float:left;
}


#header{
	font-family: NewTown;
	
	color: white;
}

#header span#ktj{
	font-family: NewTown;
	color:#37C1EF;
	font-size: 5em;
}

#header span#year{
	font-family: NewTown;
	color:#EFEFEF;
	font-size: 5em;
}

#header span#techno{
	color: #C2C2C2;
	font-size: 1.9em;
}

#header span#date{
	color: #F0F0F0;
	font-size: 1.9em;
}

#spons{
	position: absolute;
	top: 7%;
	left: 70%;
	width: 20%;
	height: 14%;
	border: 6px solid #909090;
	border-radius: 25px;
	
}
#colortab{
	position: absolute;
	top: 33%;
	width: 15%;
	height: 30%;
	font-family: Georgia, Verdana, â€œLucida Sans Unicodeâ€, sans-serif;
}

#colortab ul{
	list-style-type: none;
	width: 100%;
	color: #fff;
}

#colortab ul li{
	margin-bottom:9%;
 	text-align: center;
 	height: 3%;
 	padding: 3%;
 	border-radius: 15px; 
}

#colortab ul li#trade,#colortab ul li#toprankers{
	background-color: #32A458;
}

#colortab ul li#history,#colortab ul li#terminal{
	background-color: #32CA58;
}

#ticker{
	position: absolute;
	top: 35%;
	left:21%;
	width: 60%;
	height: 7%;
	background-color: #F4F4F4;
	opacity: 0.8;
	border-radius: 7px;
}

#welcome{
	position: absolute;
	top: 35%;
	left: 82%;
	height: 7%;
	width: 14%;
	background-color: #F4F4F4;
	opacity: 0.8;
	border-radius: 7px;
	text-align: center;
	padding-right: 15px;
}

#contents{
	position: absolute;
	top: 44%;
	left: 21%;
	height: 53%;
	width: 76%;
	//background-color: #F4F4F4;
	opacity: 0.8;
	overflow: auto;
	font-family: "Calibri";
	background-image:url('img/new_bg.jpg');
}

#widget{
	position: absolute;
	top: 66%;
	left: 3.5%;
	width: 16%;
	height: 21%;
	background-color: #F4F4F4;
	opacity: 0.8;
	color: #656565;
}

#links{
	position: absolute;
	top: 87%;
	left: 0.5%;
	height: 5%;
	width: 20%;
}

#links ul{
	list-style-type: none;
}

#links ul li{
	display: inline-block;
	background-color: #F4F4F4;
	opacity: 0.8;
	width: 28%;
	text-align: center;
	font-size: 0.8em;
	padding: 1%;
	z-index: 5;
}

a,a:hover,a:active{
	text-decoration: none;
	color: inherit;
}

.button {
	-moz-box-shadow:inset 0px 1px 1px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 1px 0px #ffffff;
	box-shadow:inset 0px 1px 1px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 50%;
    
 position: relative;
 background: #7F9DB9;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: auto ; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #7F9DB9;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #4C54C1 transparent transparent transparent;
 bottom: -1em;
 
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

::-webkit-scrollbar {
    width:0.6%;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}