body {
  background:url('../img/Layer1.png') #FFFFFF no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.ktjlogo{
    position: absolute;
    bottom: 0px;
    right: 0px;
	width: 260px !important;
}
.kgplogo{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px !important;
}
#loginBox{
	position: absolute;
	top: 150px;
	margin-left:35%;
	width: 400px;
	color:#000000;
	font-family:"Agency FB";
	background:rgba(255,255,255,0.7)
}

.input-element-login
{
	text-align:center;
	color:#000000;
}

div.login-head
{
	color:#022200;
	text-align:center;
	width:100%;
	padding-top:10px;
	font-size:50px;
	font-family:"Agency FB";
	padding-bottom:15px;
}

.input-element-login>input
{
	width:80%;
	height:20px;
	padding:5px;
	border-radius:4px;
	border:1px solid #B8B8B8;
	margin:10px;
}

.form{
position: relative;
padding:30px;
/*text-align: center;*/
font-size:15px;
font-family:"Agency FB"
line-height:30px;
}
.form2{
position: relative;
top: 70px;
left: 100px;
/*text-align: center;*/
color: rgb(99,99,99);
font:12px arial,sans-serif;
}
.signIn{
position: relative;
margin-top:10px;
margin-left:32%;
}
#ktjlogo{
  position: absolute;
  left: 210px; 
  top: 0px;
  width: 260px !important;
}

.logo{width:80px;}
.ktj-logo{display:inline-block;vertical-align: middle}
.sponsor-logo{display:inline-block;vertical-align: middle;padding:3px;}
.card{background:rgba(255,255,255,0.9);padding:2px;margin:2px;border-radius:5px;margin-bottom:5px;border:1px solid #B8B8B8;color:#00191A}
.logo{
	max-width:200px;
}

.kgplogo{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px !important;
}

#myAlert{
min-height:10%;
max-height:50%;
overflow-y:auto;
width:31%;
position:fixed;
left:35%;
top:30%;
z-index:99999;
opacity:0;
color:#6F6F6F;
font-family:Century Gothic;
border:2px solid #5e5645;
box-shadow:2px 2px 2px "#888888";
padding:0px;
padding-bottom:5%;
background:white;
border-radius:5px;
font-size:130%;
padding: 10px;
}
#myAlert h1{
margin:0px 0px 0px 0px;
background:#5e5645;
width:90%;
font-family:'Century Gothic';
color:white;
font-size:130%;
border-radius: 3px;
padding: 5px;
}
#myAlert #choice,#myAlert #choice2{
width:47%;
background:#5e5645;
color:white;
position:absolute;
bottom:5%;
font-size:130%;
border-radius:2px;
cursor:pointer;
right:2%;
text-align:center;
}

#myAlert #choice2{
left:2%;
}

#pageFill{
position:fixed;
background:black;
opacity:0.3;
top:0;
left:0;
z-index:6000;
width:100%;
height:100%;
}
#myClose{
color:red;
font-size:130%;
z-index:3;
position:absolute;
top:-1px;
right:2px;
cursor:pointer;
}

