.AccordionTitle, .AccordionContent, .AccordionContainer
{
  width: 100%;
  /*background: #1a6c8f;*/
   border-radius:10px;
    -moz-border-radius:10px;
   color: #000


.Accordiontop
{
  position:relative;
font-family:AvantGarde Md BT;
font-size:10pt;
 vertical-align:middle;
  text-align:center;
  /*background: #1a6c8f;*/
  display:table-cell;
  color: #000  border-radius:10px;
    -moz-border-radius:10px;
}

.AccordionTitle
{
  height:28px;
  color: #000 overflow:hidden;
  cursor:crosshair;
  font-family:arial;
  font-size:15pt;
  font-weight:;
  vertical-align:middle;
  text-align:center;
  background-repeat:repeat-x;
  display:table-cell;
/* background: url('../forex/img/tab_back.jpg');*/
  -moz-user-select:none;
   border-radius:10px;
    -moz-border-radius:10px;
}

#widget {
  float:left;
  margin-top:20px;
  margin-left:20px;
  }

.AccordionContent
{
font-family:Calibri, AvantGarde Md BT;
font-size:11pt;
//vertical-align:middle;
//text-align:center;
  min-height:200px;
  overflow:auto;
   border-radius:10px;
    -moz-border-radius:10px;
color: #000;
/*background: url('../forex/img/accordion_bg.jpg');*/
 box-shadow: rgb(119, 119, 119) 0px 0px 25px;

  }

.AccordionContainer
{
  //border-top: solid 1px black;
  //border-bottom: solid 1px black;
  //border-left: solid 1px black;
  //border-right: solid 1px black;
   border-radius:10px;
    -moz-border-radius:10px;
   color: #000;
   margin-right:100px;
   /*background: url('../forex/img/accordion_bg.jpg');*/
   box-shadow: rgb(119, 119, 119) 0px 0px 25px;
  } 

.button{
cursor: pointer;
width:40px;
height:40px;
color: #000;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 12px;
font-style: strong;
z-index:2;

}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}


.text{
cursor: pointer;
width:60px;
border: 1px white solid;
font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
font-size: 20px;
font-style: strong;
color: #000;
text-align: left;
}

*|*:-moz-any-link img, img[usemap], object[usemap]
{
border:0px solid;
}