


/****************************************************************
  Docking Boxes core CSS: YOU MUST NOT CHANGE OR OVERRIDE THESE 
*****************************************************************/
.dbx-clone {
	position:absolute;
	visibility:hidden;
	}
.dbx-clone, .dbx-clone .dbx-handle-cursor {
	cursor:move !important;
	}
.dbx-dummy {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	}
.dbx-group, .dbx-box, .dbx-handle {
	position:relative;
	display:block;
	}



/****************************************************************
  avoid padding, margins or borders on dbx-box, 
  to reduce visual discrepancies between it and the clone.  
  overall, dbx-box is best left as visually unstyled as possible 
*****************************************************************/
.dbx-box {
	margin:0;
	padding:0;
	border:none;
	}



/****************************************************************
  otherwise, do what you like :) 
*****************************************************************/




/* group container(s) */
#purple-outer {
/*	border:1px solid #a382c0;*/
	margin:0 10px 0 0;
	float:left;
	position:relative;/* additional outer containers must also have position:relative */
	padding:10px;
	}
.dbx-group {
	clear:both;
/*	width:150px;*/
/*	background:#c5a4e0; */
	padding:0px 10px 10px 10px;
	}
* html .dbx-group {
	width:170px;
	padding-bot\tom:0;
	}







	
/* handles */
.dbx-handle {
	font:normal normal bold 1em tahoma,sans-serif;
	text-align:center;
	position:relative;
	margin:0;
	padding:16px 0 6px 0;
	background: #FFFFFF;
	color:#0033FF;
	}
* html .dbx-handle { 
	width:150px; 
	}

	
/* handle cursors are in a class of their own
   so they only get applied if the script is supported */
.dbx-handle-cursor {
	cursor:move;
	}
	

	
	

/* toggle images */
a.dbx-toggle, a.dbx-toggle:visited {
	display:block;
	width:20px;
	height:20px;
	overflow:hidden;
	background:url(img/purple-toggle.gif) no-repeat;
	position:absolute;
	top:14px;
	right:3px;
	text-indent:-50px;
	text-decoration:none;
	}
	
	
a.dbx-toggle-open, a.dbx-toggle-open:visited {
	background-position:0 0;
	}
a.dbx-toggle-closed, a.dbx-toggle-closed:visited {
	background-position:0 -20px;
	}
a.dbx-toggle-hilite-open, a.dbx-toggle-hilite-open:visited {
	background-position:-20px 0;
	}
a.dbx-toggle-hilite-closed, a.dbx-toggle-hilite-closed:visited {
	background-position:-20px -20px;
	}






/* keyboard navigation tooltip */
.dbx-tooltip {
	display:block;
	position:absolute;
	margin:36px 0 0 125px;
	width:185px;
	border:1px solid #000;
	background:#ffd;
	color:#000;
	font:normal normal normal 0.85em tahoma, arial, sans-serif;
	padding:2px 4px 3px 5px;
	text-align:left;
	}
* html .dbx-tooltip { width:195px; }

/* use CSS2 system colors in CSS2 browsers 
   but not safari, which doesn't support them */
*[class="dbx-tooltip"]:lang(en) {
	border-color:InfoText;
	background:InfoBackground;
	color:InfoText;
	font:small-caption;
	font-weight:normal;
	}







/* inner content area */	
.dbx-content {
	margin:0;
	padding:9px 0 9px 0;
	list-style-type:none;
/*	background:url(images/purple-bottom.gif) no-repeat 0 100%; */
	}




.dbx-content li {
	width:130px;
	margin:0;
	padding:0 10px 1px 10px;
	list-style-type:none;
	font:normal normal normal 0.85em verdana,sans-serif;
/*	background:url(images/purple-content.gif) #bca2cf repeat-y; */
	}

.dbx-content a, .dbx-content a:visited {
	color:#000;
	text-decoration:none;
	}

.dbx-content a:hover, .dbx-content a:focus, .dbx-content a:active {
	color:#306;
	text-decoration:underline;
	}





/* toggle state of inner content area */
.dbx-box-closed .dbx-content {
	display:block;
	height:10px;
	padding:0;
	overflow:hidden;
	}
.dbx-box-closed .dbx-content * {
	display:none;
	}





/* additional clone styles */
.dbx-clone {
	opacity:0.8;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	filter:alpha(opacity=80);
	}





			