<div class="card">
<div class="tab-head">Commodity Pending Orders</div>
<div class="results" id="results"></div>
<table cellpadding="3" cellspacing="0" class="terminal-table bordered">
<tr>
<td id='pending-row'><b>ID</b></td><td id='pending-option'><b>Commodity</b></td>
<td id='pending-row'><b>Levearage</b></td><td id="pending-option"><b>Lots</b></td><td id="pending-option">B/S</td><td id="pending-option"><b>Placed Price<b></td><td id="pending-option"><b>Current Price</b></td><td id="pending-option"><b>Cancel</b></td></tr>
	{% for option,price in pendingoptions %}
		<tr><td id="pending-option">{{option.pendingid}}</td><td id="pending-option">{{option.tradename}}</td><td id="pending-option">{{option.levearage}}</td><td id="pending-option">{{option.quantity}}</td><td id="pending-option">{{option.bors}}</td><td id="pending-option">{{option.pendingprice}}</td><td id="pending-option">{{price}}</td><td id="msg{{option.pendingid}}"><button id="cancel" onclick="cancel_comm_order('{{option.pendingid}}','{{option.tradename}}')">Cancel Order</button></td></tr>
	{% endfor %}
</table>
</div>