<div class="card">
<div class="tab-head">Commodity History</div>
<table cellpadding="3" cellspacing="0" class="terminal-table bordered">
<tr>
<td id="transaction-row"><b>OrderNo</b></td>
<td id="transaction-row"><b>Commodity</b></td>
<td id="transaction-row"><b>Long or Short</b></td>
<td id="transaction-row"><b>Lots</b></td>
<td id="transaction-row"><b>Open Price</b></td>
<td id="transaction-row"><b>Close Price</b></td>
<td id="transaction-row"><b>Profit (in USD)</b></td></tr>
	{% for row in closed %}
		<tr><td id='transaction-row'>{{row.serial}}</td>
		<td id='transaction-row'>{{row.tradename}}</td>
		<td id='transaction-row'>{{row.bors}}</td>
		<td id='transaction-row'>{{row.quantity}}</td>
		<td id='transaction-row'>{{row.tranprice}}</td>
		<td id='transaction-row'>{{row.closecp}}</td>
		<td id='transaction-row'>{{row.profit}}</td>
		</tr>
	{% endfor %}
	</table>

	{% if prev >= 0 %}
		<div class='prev' style='margin-left : 10px; display:inline-block'><input type='button'  class='buttonStyle'  name='prev' value='Previous' onclick="showCommHistory('{{prev}}')"/></div>  
	{% endif %}
	{% if next <= count %}
	   <div class='next' align='right' style=' display:inline-block'><input type='button'  class='buttonStyle'  name='next' value='Next' onclick="showCommHistory('{{next}}')"/></div>  
	{% endif %}
</div>