<div class="card">
<table cellpadding="3" cellspacing="0" class="terminal-table bordered" >
{% for current_price,profit,row,close_allow in transactions %}
		<tr>
		<td id='transaction-row'>{{row.orderno}}</td>
		<td id='transaction-row'>{{row.tradename}}</td>
		{% if row.triggerprice == 0 %}
		<td id='transaction-row'>None</td>
		{% else %}
		<td id='transaction-row'>{{row.triggerprice}}</td>
		{% endif %}
		<td id='transaction-row'>{{row.bors}}</td>
		<td id='transaction-row' align='center'>1:{{row.levearage}}</td>
		<td id='transaction-row'>{{row.quantity}}</td>
		<td id='transaction-row' align='right'>{{row.openprice}}{{openpricestr.row.bors}}</td>
		<td id='transaction-row' align='right'>{{current_price}}{{currentpricestr.row.bors}}</td>
		<td id='transaction-row' align='right'>
			{% if profit >= 0 %}
			<span class="green">{{profit}}</span>
			{% else %}
			<span class="red">{{profit}}</span>
			{% endif %}
			</td><td id='transaction-row'>
		<input type='hidden' name='orderno' id='orderno{{row.orderno}}' value='{{row.orderno}}'>
		<input type='hidden' name='bors' id='bors{{row.orderno}}' value='{{row.bors}}'>
		<input type='hidden' name='commodity' id='commodity{{row.orderno}}' value='{{row.tradename}}'>
		<input type='hidden' name='lots' id='lots{{row.orderno}}' value='{{row.quantity}}'>
		<input type='hidden' name='levearage' id='levearage{{row.orderno}}' value='{{row.levearage}}'>
		<input type='hidden' name='openprice' id='openprice{{row.orderno}}' value='{{row.openprice}}'>
		{% if close_allow == 1 %}
		<div id='msg{{row.orderno}}'><button name='submit' value='Close' onclick="closeTradeComm({{row.orderno}})" class='buttonStyle' >Close</button></div>
		{% endif %}
		</td>
		</tr>
		{% endfor %}
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td id="transaction-row" align="right"><b>Total</b></td><td id="transaction-row" align="right">
	{% if totalpl >= 0 %}
		<span class="green"><b>
	{% else %}
		<span class="red"><b>
	{% endif %}
	{{totalpl}}
	</b></span>
</td><td>
	<button name='submit' value='Close' onclick="closeTradeSelectComm('{{commodity}}','{{bors}}')" class='buttonStyle' >Close All</button>
	
</td></td></tr>
</table>
</div>