<h1 align="left">Currency Stats</h1>
<div class="table2" align="center">
	<div class="stats"><b>Select a currency to analyse</b>
			<select name="companynameforstats" id="companynameforstats">
			<option value="usdinr">USD-INR</option>
			<option value="usdcad">USD-CAD</option>
			<option value="usdjpy">USD-JPY</option>
			<option value="usdgbp">USD-GBP</option>
			<option value="usdeur">USD-EUR</option>
			<option value="usdchf">USD-CHF</option>
			<option value="usdaud">USD-AUD</option>
			<option value="usdnzd">USD-NZD</option>
			</select>
	  <!-- 
	  U can give required space between the two by inserting as many space as u wish...:)
	  -->
			<input type="button" class="buttonStyle" name="statsbutton" id="statsbutton" value="Get Info" onclick= "javascript:getStats(document.getElementsByName('companynameforstats')[0].value);" />
			<div id="showHere"> </div>
			
			<div align='center'><h3>For closing any of the opened transactions, go to Terminal</h3></div>
	</div>


</div>