<div class="card">
<div class="tab-head">Forex History</div>
<table cellpadding="3" cellspacing="0" class="terminal-table bordered">
<tr>
<td id="transaction-row"><b>OrderNo</b></td>
<td id="transaction-row"><b>Currency</b></td>
<td id="transaction-row"><b>Levearage</b></td>
<td id="transaction-row"><b>Long or Short</b></td>
<td id="transaction-row"><b>Lots</b></td>
<td id="transaction-row"><b>Open Price</b></td>
<td id="transaction-row"><b>Close Price</b></td>
<td id="transaction-row"><b>Profit (in USD)</b></td></tr>
	{% for row in closed%}
		<tr><td id='transaction-row'>{{row.orderno}}</td>
		<td id='transaction-row'>{{row.currency}}</td>
		<td id='transaction-row'>{{row.levearage}}</td>
		<td id='transaction-row'>{{row.bors}}</td>
		<td id='transaction-row'>{{row.lots}}</td>
		<td id='transaction-row'>{{row.openprice}}</td>
		<td id='transaction-row'>{{row.closeprice}}</td>
		<td id='transaction-row'>{{row.fltprofit}}</td>
		</tr>
	{% endfor %}
	</table>

	{% if prev >= 0 %}
		<div class='prev' style='margin-left : 10px; display:inline-block'><input type='button'  class='buttonStyle' name="prev" value='Previous' onclick="showHistory('{{prev}}')"/></div>  
	{% endif %}
	{% if next <= count %}
	   <div class='next' align='right' style=' display:inline-block' ><input type='button'  class='buttonStyle'  value='Next' name="next" onclick="showHistory('{{next}}')"/></div>  
	{% endif %}
</div>