<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<meta name="title" content="Woodstock" />
<meta name="description" content="The largest techno-management fest Kshitij 2012, IIT Kharagpur brings you WOODSTOCK. Woodstock is a real stock market game played with virtual money.The players face real time share price fluctuations and trade accordingly.The game ensures first hand experience of the real market without the associated risk of losing money.This event allows you to understand the vagaries of the stock exchange and gain experience before you take the markets head-on." />
<meta name="Keywords" content="kshitij,iit, kgp, kharagpur, online, events, woodstock, forex, bazaar , stock market, currency, commodity, exchange" />
<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" />
		<title>Woodstock | Ktj Bazaar</title>
		<link rel="stylesheet" href="{% static "css/main_style.css" %}" />
		<link rel="stylesheet" href="{% static 'css/forex.css' %}" />
		<script type="text/javascript" src="{% static "js/jquery.js" %}" ></script>
	</head>
	<body>
		<div class="header">
			<div class="ktj-logo"><img class="logo" src="{% static "img/ktj_logo.png" %}"></div>
			<div class="sponsor-logo card"><img class="logo" src="{% static "img/sponsor.png" %}"></div>
			<a href="/forex"><div class="heading heading-active">Forex</div></a>
			<div class="heading">Woodstock</div>
			<div class="info">
			
			</div>			
			<!--<div id="stats" class="stats card"></div>-->
		</div>
		
		<div class="wrapper">
	
		 <div class="card" style="text-align:center;padding:50px;font-size:20px;margin:20px;">
		 	

<h2><div style="color:#4A5FCB;" id="heading">Controls and Interface</div></h2>
<div id="heading">Trading stocks</div>
<p>

Go to the Trade by clicking on <strong>trade</strong> tab.
Here you can trade  the stocks.Choose  the name of the currency/commodity , mention the quantity of stocks and select the nature of the trade(Buy or Short Sell) and place the order by clicking on <strong>place order</strong> button.If you want to place a pending order then fill-in the  <strong>pending order at price</strong>  box with the desired price and then
Place the order by clicking on <strong>place order</strong> button.If the pending order at price is not filled then corresponding order will be considered as immediate order  at which it will be  executed with the current market prices.</p>

<div id="heading">Selling the stocks</div>
<p>
Go to terminal  by clicking on terminal Tab
Here you can see his stock holdings and To sell the stocks fill in the quantity and click on the close button of the stocks of corresponding company. To  sell at particular price then  fill  the <strong>pending price</strong> and sell those stocks.
</p>


<div id="heading">History</div>
<p>
To view the history of your stock trading clickin on the <strong>history</strong> tab</p>

<div id="heading">Some Technical Terms</div>
<b>Cash Balance:</b> The amount of virtual cash that you can trade with at any moment of time. <br />
<b>Margin</b> Think of it as a security deposit you make to the broker when you short sell stocks. This amount is subtracted from the 'cash in hand' when you short sell stocks. This is because now that you have deposited the margin(say M), you dont have the amount  M avilable for trading.  '<br />
<b>Net Worth:</b> The total  'virtual' cash that you have. This is the sum of the 'cash in hand' and the margin money you have deposited for short sell positions. When you have no short sell positions open, your cash balance and 'cash in hand' will be same. However when you short sell stocks some margin (M) is to be deposited .  In this case the cash balance is not affected but your 'cash in hand' decreases by the margin amount M.  <br />

Your rank is calculated on the basis of your Net Worth



		</div>
		
		
		
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45285323-1', 'ktj.in');
  ga('send', 'pageview');

</script>
	
</html>
