{% load static %}
<link rel="stylesheet" href="{% static "css/price_info.css" %}">
<table cellpadding="0" cellspacing="0" class="prices bordered card">
	<th>Currency</th>
	<th>Open</th>
	<th> Bid </th>
	<th>Ask</th>
	{% for forex in forex_base %}
		<tr><td class="price">
	    {{forex.currency}}
		</td><td align='right'>
		{{forex.open}}
	
		</td><td align='right'>
			
		{% if forex.bid >= forex.open %}
		    <span class="green">
		{%	else %}
			<span class="red">
		{% endif %}
		{{forex.bid}}
		</span>
		</td><td align='right'>
			
		{% if forex.bid >= forex.open %}
		    <span class="green">
		{% else %}
			<span class="red">
		{% endif %}
		{{forex.ask}}
	    </span>
		</td></tr>
		{% endfor %}
</table>
<br/>
<table class="prices card bordered" cellpadding="0" cellspacing="0">
	<th>Commodity</th>
	<th>Open</th>
	<th>LTP</th>
	<th>% change</th>
	{% for commodity,percent in commodities %}
		
		<tr><td class="price">
	    {{commodity.tradename}}
		</td><td align='right'>
		{{commodity.open}}
		</td><td align='right'>
		{{commodity.price}}
		
	    </td><td align='right'>
		{% if percent >= 0 %}
		<span class="green">
		{% else %}
		<span class="red">
		{% endif %}
		{{percent}}%
		</span>
		</td></tr>
		
	{% endfor %}
</table>
