<input type="hidden" name="time" value="{{time}}"></input>
<table align='center' border='0'>
	<tr><td align='left'>User</td><td> : </td><td align='left'>{{user}}</td></tr>
	<tr><td align='left'>Rank</td><td> : </td><td align='left'>{{ranking.rank}}</td></tr>
	<tr><td align='left'>Cash Balance</td><td> :</td><td align='left'>$ {{ranking.balance|floatformat:"0"}}</td></tr>
	<tr><td align='left'>Net worth</td><td> :</td><td align='left'>$ {{ranking.equity|floatformat:"0"}}</td></tr>
	<tr><td align='left'>Margin </td><td>:</td><td align='left'>$ {{ranking.margin|floatformat:"0"}}</td></tr>
</table>