<div class="card">
<div class="tab-head">Forex Terminal</div>
<div id="results">
</div>
<form action="forex/terminal_list" method="post" name="select_form" id="select_form">
<input type="hidden" name="action" value="select">
<table width="100%" id="terminal-table" cellpadding="3" cellspacing="0">

<tr>
	<td id="transaction-row" colspan="2"><b>Currency</b></td><td id="transaction-row" colspan="2">
		<select name='currency' id='currency'>
			{% for option,param in forex_base %}
			<option value="{{option.currency}}">{{option.currency}} {{option.bid}}/{{ param }} (Bid= {{option.bid}},Ask={{option.ask}})</option>
			{% endfor%}
		</select>
	</td>
	<td id="transaction-row" colspan="2">
		<select name="bors" id="bors">
			<option value="Long" selected> Long</option>
			<option value="Short"> Short</option>
		</select>
	</td>
	<td id="transaction-row">
		<input type="submit" value="select" name="select" id="select" class="buttonStyle">
	</td>
</tr>

</table>

</form>

<div class="terminal-list" id="terminal">
	<table cellpadding="3" cellspacing="0" class="terminal-table bordered" >
{% for current_price,profit,row,close_allow in transactions %}
		<tr>
		<td id='transaction-row'>{{row.orderno}}</td>
		<td id='transaction-row'>{{row.currency}}</td>
		{% if row.triggerprice == 0 %}
		<td id='transaction-row'>None</td>
		{% else %}
		<td id='transaction-row'>{{row.triggerprice}}</td>
		{% endif %}
		<td id='transaction-row'>{{row.bors}}</td>
		<td id='transaction-row' align='center'>1:{{row.levearage}}</td>
		<td id='transaction-row'>{{row.lots}}</td>
		<td id='transaction-row' align='right'>{{row.openprice}}{{openpricestr.row.bors}}</td>
		<td id='transaction-row' align='right'>{{current_price}}{{currentpricestr.row.bors}}</td>
		<td id='transaction-row' align='right'>
			{% if profit >= 0 %}
			<span class="green">{{profit}}</span>
			{% else %}
			<span class="red">{{profit}}</span>
			{% endif %}
			</td><td id='transaction-row'>
		<input type='hidden' name='orderno' id='orderno{{row.orderno}}' value='{{row.orderno}}'>
		<input type='hidden' name='bors' id='bors{{row.orderno}}' value='{{row.bors}}'>
		<input type='hidden' name='currency' id='currency{{row.orderno}}' value='{{row.currency}}'>
		<input type='hidden' name='lots' id='lots{{row.orderno}}' value='{{row.lots}}'>
		<input type='hidden' name='levearage' id='levearage{{row.orderno}}' value='{{row.levearage}}'>
		<input type='hidden' name='openprice' id='openprice{{row.orderno}}' value='{{row.openprice}}'>
		<input type='hidden' name='openprice' id='opendateandtime{{row.orderno}}' value='{{row.opendateandtime}}'>
		{% if close_allow == 1 %}
		<div id='msg{{row.orderno}}'><button name='submit' value='Close' onclick="closeTrade({{row.orderno}})" class='buttonStyle' >Close</button></div>
		{% endif %}
		</td>
		</tr>
		{% endfor %}
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td id="transaction-row" align="right"><b>Total</b></td><td id="transaction-row" align="right">
	{% if totalpl >= 0 %}
		<span class="green"><b>
	{% else %}
		<span class="red"><b>
	{% endif %}
	{{totalpl}}
	</b></span>
</td><td>
	<button name='submit' value='Close' onclick="closeTradeAll()" class='buttonStyle' >Close All</button>
	
</td></td></tr>
</table>
</div>

</div>