<div class="card">
<table id="brownBorder" cellpadding="5" cellspacing="0" width="40%" align="center">
<tr><td id="brownBorder" align="center"><b>Rank</b></td><td id="brownBorder" align="center"><b>UserId</b></td><td id="brownBorder" align="center"><b>Net Worth</b></td></tr>
    {% for user in rankings %}
    {% if user.userid == "" %}
    	
    {% else %}
      <tr><td id='brownBorder' align='center'>{{forloop.counter}}</td><td id='brownBorder' align='center'>{{user.userid}}</td><td id='brownBorder' align='right'>{{user.equity|floatformat:0}}</td></tr>
    {% endif %}
    {% endfor %}

</table>
</div>