<div id="trade-currency" class="trade card"></div>
		<div id="trade-commodity" class="trade card"></div>
		<div id="charts" class="charts trade card">
		<div class="tab-head">Charts</div>
			<div id="chart-option">
				<select name="type" id="type">
					<option value="currency-chart-select" selected>Currency</option>
					<option value="commodity-chart-select">Commodity</option>
				</select>
			</div>
			<div id="chart-option">
				<select name="currency" class="chart-select" id="currency-chart-select">
					{% for option in currency %}
					<option value="{{option.identifier}}">{{option.currency}}</option>
					{% endfor %}
				</select>
				
				<select name="commodity" class="chart-select" id="commodity-chart-select">
					{% for option in commodity %}
					<option value="{{option.identifier}}">{{option.commodity}}</option>
					{% endfor %}
				</select>
				<button name="chart-submit" onclick="showChart()">Show Chart</button>				
			</div>
			
			<div id="chart" class="chart">
					
			</div>